.rp{
	margin-bottom: 50px;
}

.dt{
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	color: gray;
}

.post{
	background-color: white;
	margin-bottom: 50px;
	border-style: solid;
	border-color: gray;
	border-radius: 8px;
	border-width: 3px;
	border: 100%;
	padding: 5px 20px 10px 20px;
}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}